:root {
    --white: #ffffff;
    --background-color: #120f16;
    --table-border: #1e1a24;
    --start-O-width: 12px;
    --end-O-width: 86px;
}

body {
    backdrop-filter: blur(35px);
    background-color: #1e0d35;
    background-image: radial-gradient(circle, #1e3128, #354f61, #261e31 );
}

#app-container {

    /* 
        TABLE BOX
    */
    #table-box {
        display: none;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        padding: 50px 30px;
        border-radius: 15px;
        background-color: var(--background-color);

        #table-background {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            border: 2px solid var(--table-border);
            overflow: auto;

            > table {
                width: 100%;
                padding: 15px;
    
                > tbody{
                    > tr {
                        height: 30px;
                        padding: 6px;
    
                        > td {
                            padding: 6px;
                            text-align: left;
                            color: var(--white);
                        }
                    }
                }
            }
        }

        #pass-input-form-box {
            display: none;
        }
    }
}