@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BebasNeueFont';
    font-style: normal;
    font-weight: normal;
    src: url(../../assets/fonts/bebas_neue/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'CarroisGothicFont';
    font-style: normal;
    font-weight: normal;
    src: url(../../assets/fonts/carrois_gothic/CarroisGothic-Regular.ttf) format('truetype');
}

body {
    backdrop-filter: blur(35px);
    background-color: #1e0d35;
    background-image: radial-gradient(circle, #1e3128, #354f61, #261e31 );
}

.form-input-box {
    @apply relative my-6;
}

.form-label {
    @apply absolute -top-3 left-5 px-1.5 text-xl font-BebasNeue text-heather-100 bg-heather-900;
}

.form-input {
    @apply w-112 h-16 pr-12 pl-4 text-base rounded-md outline-none border-2 border-solid border-heather-300 focus:border-heather-100 font-CarroisGothic text-white bg-heather-900;
}

.form-image {
    @apply absolute z-10 top-1/2 right-4 -translate-y-1/2 cursor-pointer;
}

.data-table {
    @apply w-auto;

    tr {
        @apply w-auto;

        td {
            @apply py-2 px-3 text-heather-100;
        }
    }

    tr:nth-child(odd) {
        @apply bg-heather-950;
    }
}