@import url(styles/general.css);
@import url(styles/form.css);
@import url(styles/table.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BebasNeueFont';
    font-style: normal;
    font-weight: normal;
    src: url(../../assets/fonts/bebas_neue/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'CarroisGothicFont';
    font-style: normal;
    font-weight: normal;
    src: url(../../assets/fonts/carrois_gothic/CarroisGothic-Regular.ttf) format('truetype');
}

body {
    backdrop-filter: blur(35px);
    background-color: #1e0d35;
    background-image: radial-gradient(circle, #1e3128, #354f61, #261e31 );
}